html, body{
    width: 100%;
}

.titulo{
    font-family: "IBM Plex Sans", sans-serif;
}

.corpo{
    font-family: "IBM Plex Serif", serif;
}

.bold{
    font-weight: 700;
    font-style: normal;
}

h1{
    color: #1a2675;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem; 
    font-size: 2.3rem;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
}

header.inicio{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    font-size: 2rem;
}

.user-inicio{
    margin-top: 1rem;
    width: 8rem;
}

.user{
    width: 3rem;
}

.menu{
    width: 1.5rem;
}

.logo{
    width: 20rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    border: .1rem solid black;
    box-shadow: 0 .3rem .3rem #a7a8aa;
    border-radius: .4rem;
    background-color: #13468b;
    width: 50%;
    height: 100%;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.opcoes{
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0 0 1.5rem 0;
    font-size: 1rem;
}

.opcao{
    height: 100%;
    align-self: center;
}

.rank{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li.rank{
    margin: 1rem 0 1rem 0;
    padding: .2rem .5rem .2rem .5rem;
    border: none;
    box-shadow: none;
    background-color: white;
    width: 100%;
}

p.rank-pos{
    border: .2rem solid #a7a8aa;
    padding: 1rem;
    margin-right: .5rem;
    font-size: 1.5rem;
}

p.rank-name{
    display: flex;
    flex-direction: row;
    width: 60%;
    border: .2rem solid #a7a8aa;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: center;
}

.nota{
    display: flex;
    justify-content: center;
    width: 50%;
    border: .2rem solid #a7a8aa;
    padding: 1rem;
    margin-right: .5rem;
}

li.nota{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 1rem .5rem 1rem .5rem;
    padding: .2rem .5rem .2rem .5rem;
    border: none;
    box-shadow: none;
    background-color: white;
}

header.tela-user{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    font-size: 2rem;
    margin-bottom: 2rem;
}

ul.tela-user{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

li.tela-user{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    box-shadow: none;
    font-size: 1.2rem;
}

img.tela-user{
    width: 10rem;
    margin-right: 1rem;
}

h1.notificacao{
    font-size: 1.5rem;
    padding-left: 1rem;
}

li.notificacao{
    border: .2rem solid #a7a8aa;
    background-color: white;
    box-shadow: none;
}

.return {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5rem;
}

li.return {
    width: 2rem;
    height: 2rem;
}

div.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 1rem;
    height: 1rem;
    border: .2rem solid black;
}

.icone {
    width: 7rem;
    height: 7rem;
}

.progress {
    background-color: #13468b;
    width: 0%;
    height: 100%;
}