html, body{
    height: 100%;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.linha{
    display: flex;
    flex-direction: row;
}

.titulo{
    font-family: 'Open Sans', sans-serif;
}

.corpo{
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem; 
    border-bottom: .2rem solid black; 
    flex-direction: column;
}
.menu{
    position: fixed;
    align-self: flex-start;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4rem 0.4rem .4rem 0.4rem;
    padding: .4rem 0.4rem .4rem 0.4rem; 
    border: .2rem solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    border-radius: .4rem;
}

.mensagem_inicial {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: .6rem;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: black
}

li.meus{
    width: 42%;
    margin: .4rem 0 .4rem 0;
}

ul.meus{
    width: 100%;
    justify-content: space-between;
}

.borderless{
    border: none;
    box-shadow: none;
    padding: .4rem 0 .4rem 0
}

.opcoes{
    height: 60%;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0 0 1.5rem 0;
}

.opcao{
    height: 100%;
    align-self: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}